body {
  background: blanchedalmond;
}

* {
  border: 1px solid blue;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  padding: .5em;
  flex-grow: 1;
}

.b {
  padding: .5em;
  flex-grow: 3;
}

.c {
  padding: .5em;
  flex-grow: 1;
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .a, .b, .c {
    margin: .5em;
  }
}